.idea/
.github/
node_modules/
/solution/CONTEST_README.md
/solution/CONTEST_README_EN.md
/solution/summary.md
/solution/summary_en.md
/solution/README.md
/solution/README_EN.md
/solution/readme_template.md
/solution/readme_template_en.md
/solution/problem_readme_template.md
/solution/problem_readme_template_en.md
/solution/bash_problem_readme_template.md
/solution/bash_problem_readme_template_en.md
/solution/0100-0199/0177.Nth Highest Salary/Solution.sql
/solution/0100-0199/0178.Rank Scores/Solution2.sql
/solution/0500-0599/0586.Customer Placing the Largest Number of Orders/Solution2.sql
/solution/1600-1699/1635.Hopper Company Queries I/Solution.sql
/solution/2100-2199/2118.Build the Equation/Solution.sql
/solution/2100-2199/2175.The Change in Global Rankings/Solution.sql
/solution/2200-2299/2205.The Number of Users That Are Eligible for Discount/Solution.sql
/solution/2200-2299/2230.The Users That Are Eligible for Discount/Solution.sql
/solution/2200-2299/2252.Dynamic Pivoting of a Table/Solution.sql
/solution/2200-2299/2253.Dynamic Unpivoting of a Table/Solution.sql
/solution/3100-3199/3150.Invalid Tweets II/Solution.sql
/solution/3100-3199/3198.Find Cities in Each State/Solution.sql
/solution/3300-3399/3328.Find Cities in Each State II/Solution.sql
