site_name: LeetCode Wiki
site_url: https://leetcode.doocs.org
site_description: 多种编程语言实现 LeetCode、《剑指 Offer（第 2 版）》、《程序员面试金典（第 6 版）》题解
site_author: yanglbme
site_dir: site
docs_dir: docs
repo_name: doocs/leetcode
repo_url: https://github.com/doocs/leetcode
copyright: Copyright &copy; 2025 <a href="https://github.com/doocs">Doocs</a><br><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">知识共享 版权归属-相同方式共享 4.0 国际 公共许可证</a>

theme:
  favicon: favicon.ico
  logo: logo.png
  name: material
  custom_dir: overrides
  features:
    - announce.dismiss
    - content.code.annotate
    - content.code.copy
    - content.action.edit
    - content.action.view
    # - content.code.select
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
  icon:
    repo: fontawesome/brands/github
  language: zh
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

plugins:
  - tags
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: auto
      height: auto
      zoomable: true
      draggable: true
      auto_caption: false
      caption_position: bottom
      background: white
      shadow: true
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true

hooks:
  - hooks/edit_url.py
  - hooks/committer.py
  - hooks/fix_markdown_block.py
  - hooks/ext_info.py
  - hooks/tags.py
  - hooks/stay_on_page.py

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.emoji
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.highlight:
      extend_pygments_lang:
        - name: php
          lang: php
          options:
            startinline: true
  

extra_javascript:
  - javascripts/mathjax.js
  - https://cdn-doocs.oss-cn-shenzhen.aliyuncs.com/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/yanglbme
    - icon: simple/gitee
      link: https://gitee.com/yanglbme
    - icon: simple/leetcode
      link: https://leetcode.cn/u/lcbin/
    - icon: fontawesome/solid/paper-plane
      link: mailto:contact@yanglibin.info
  alternate:
    - name: English
      link: /leetcode/en/
      lang: en
    - name: 中文
      link: /leetcode/
      lang: zh
  analytics:
    provider: google
    property: G-F887EV7L8E
    feedback:
      title: 此页面对您有帮助吗？
      ratings:
        - icon: material/emoticon-happy-outline
          name: 此页面对我有帮助
          data: 1
          note: >-
            感谢您的反馈！
        - icon: material/emoticon-sad-outline
          name: 此页面需要改进
          data: 0
          note: >-
            感谢您的反馈！请帮助我们改进此页面。


nav:
  - 首页: index.md
  - LeetCode 全解:
    - 1. 两数之和: lc/1.md
    - 2. 两数相加: lc/2.md
    - 11. 盛最多水的容器: lc/11.md
  - 剑指 Offer:
    - 3. 数组中重复的数字: lcof/3.md
    - 4. 二维数组中的查找: lcof/4.md
  - 剑指 Offer（专项突破）:
    - 1. 整数除法: lcof2/1.md
    - 2. 二进制加法: lcof2/2.md
  - 程序员面试金典:
    - 1.1. 判定字符是否唯一: lcci/1.1.md
    - 1.2. 判定是否互为字符重排: lcci/1.2.md
  - 专项训练: tags.md
  - 竞赛: contest.md