{% extends "base.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Additional styles for landing page -->
<style>
    /* Application header should be static for the landing page */
    .md-header {
        position: initial;
    }

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
        margin: 0;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
        .md-sidebar--secondary {
            display: none;
        }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
        .md-sidebar--primary {
            display: none;
        }
    }
</style>

<section class="mdx-container">
    <div class="md-grid md-typeset">
        <div class="mdx-hero">

            <!-- Hero image -->
            <div class="mdx-hero__image">
                <img src="assets/images/hero.jpg" alt="" width="1659" height="1200" draggable="false">
            </div>

            <!-- Hero content -->
            <div class="mdx-hero__content">
                <h1>LeetCode Wiki</h1>
                <p>{{ config.site_description }}</p>
                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}"
                    class="md-button md-button--primary">
                    Get Started
                </a>
            </div>

            <!-- Comments system -->
            {% include "partials/comments.html" %}
        </div>
    </div>

</section>
{% endblock %}

{% block content %} {% endblock %}