.md-typeset h1 {
    margin: 0 0 0em;
}
.md-typeset h2 {
    margin: 0.5em 0 0em;
}
.md-typeset .example-block {
    overflow-x: auto;
    padding: 0 .2941176471em;
    background-color: #f5f5f5;
    border-radius: .1rem;
}
.md-typeset .example-block p {
    margin: 0;
}
.md-content__inner>pre {
    margin: 0;
    overflow-x: auto;
    padding: 0 .2941176471em;
    background-color: #f5f5f5;
    border-radius: .1rem;
}